.chessboard {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    width: 400px;
    height: 400px;
    transform: rotate(0deg);
}

.piece.white {
    color: #ffffff;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
} 

.piece.black {
    color: #000000;
    text-shadow: 
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.flipped {
    transform: rotate(180deg);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.light {
    background-color: #f0d9b5;
}

.square.dark {
    background-color: #b58863;
}

.piece {
    font-size: 42px;
    cursor: pointer;
    font-family: "Segoe UI Symbol", "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, serif;
    font-weight: normal;
    line-height: 1;
    user-select: none;
}

.piece.draggable {
    cursor: grab;
}

.dragging {
    opacity: 0.5;
}

/* Rotate pieces for black player */
.flipped .piece {
    transform: rotate(180deg);
}